html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
	/*	font-size: 100%;
	 *		vertical-align: baseline; */
		background: transparent;
	}

html, body {
margin: 0;
padding: 0;
height: 100%;
font-family: Arial, helvetica, sans-serif;
font-size: 13px;
}

body {
background:#f9f9f9;
background-attachment: fixed;
line-height: 1;
}

html,
	body {
		height: 100%;
	}

body,
	td,
	textarea,
	input,
	select {
		font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
		font-size: 13px;
	}

body,
	textarea {
		line-height: 1.4em;
	}

input,
	select {
		line-height: 1em;
	}

p {
	margin: 1em 0;
}

blockquote {
	margin: 1em;
}

label {
	cursor: pointer;
}

li,
	dd {
		margin-bottom: 6px;
	}

p,
	li,
	dl,
	dd,
	dt {
		line-height: 140%;
	}

textarea,
	input,
	select {
		margin: 1px;
		padding: 3px;
	border-color: #DFDFDF;
	}

h1 {
margin: 10px 0 20px 0;
border: 1px solid #000;
padding: 4px;
background: #fff;
color: #3f7174;
height: 35px;
font-size: 16px;
}

a {
color: #002b43;
font-weight: bold;
}

a:hover {
color: #000;
}

form {
margin: 0;
}

html > body pre {
font-size: 130%;
}

p {
margin: 0;
}

div#container {
width: 90%;
margin: 0 auto;
}

	div#container div.box {
	width: 400px;
	margin: 30px auto 20px auto;
	border: 1px solid #000;
	background: #fff;
	}

		div#container div.box h2 {
		border-bottom: 1px solid #000;
		padding: 4px;
		margin: 0;
		background: #3f7174;
		color: #fff;
		font-size: 100%;
		}

		div#container div.box p {
		padding: 4px;
		margin: 0;
		}

		div#container div.box form {
		margin: 0;
		padding: 8px;
		}

	div#container table#login {
	width: 350px;
	margin: 20px auto;
	}

	div#container table.dateTime {
	border: 0;
	margin: 0;
	width: auto;
	}

		div#container table.dateTime td, div#container table.dateTime th {
		border: 0;
		padding: 0 4px 1px 4px;
		}

		div#container table.dateTime th {
		background: transparent;
		font-weight: normal;
		text-align: left;
		font-size: 85%;
		}

			div#container table.dateTime td input {
			width: 35px;
			padding: 2px;
			}

			div#container table.dateTime td input, div#container table.dateTime td select {
			font-size: 85%;
			}

	div#container table {
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
	margin-bottom: 20px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-color: #dfdfdf;
	background-color: #fff;
	}

		div#container table td, div#container table th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 11px;
	vertical-align: text-top;
		border-color: #dfdfdf;
		}

		div#container table th {
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	text-shadow: rgba(255,255,255,0.8) 0 1px 0;
	color: #333;
		   	background: #dfdfdf url(../images/admin/gray-grad.png) repeat-x scroll left top;

		}

		div#container table th.footer {
		height: 24px;
		font-size: 13px;
		background: #f9f9f9;
		}
		
		div#container table td.header {
		background: #ffffff;
		}

		div#container table td.noAlt {
		background: #f9f9f9;
		}

			div#container table th.noAlt {
			height: 24px;
			font-size: 13px;
			background: #ffffff url(../images/admin/tables-projects-thead.png);
			}

			div#container table th a {
			color: #000;
			}

			div#container table th a:hover {
			color: #444;
			}

		div#container table td.alt1 {
	padding: 7px 7px 8px;
		background: #f9f9f9;
		}

		div#container table td.alt2 {
	padding: 7px 7px 8px;
		background: #ffffff;
		}

		div#container table td.top {
		vertical-align: top;
		}

			div#container table th p, div#container table td p {
			margin: 0;
			}

	div#container div.divit {
	border: 1px solid #000;
	background: #fff;
	margin-bottom: 20px;
	}

		div#container div.divit h3 {
		background: #dfdfdf url(../images/admin/gray-grad.png) repeat-x scroll left top;
		font-size: 100%;
		padding: 4px;
		margin: 0;
		}

		div#container div.divit div.likeH3 {
		background: #dfdfdf url(../images/admin/gray-grad.png) repeat-x scroll left top;
		font-size: 100%;
		padding: 4px;
		margin: 0;
		}

			div#container div.divit div.likeH3 a, div#container div.divit h3 a {
			color: #fff;
			}

			div#container div.divit div.likeH3 a:hover, div#container div.divit h3 a:hover {
			color: #000;
			}

		div#container div.divit div.divitit {
		padding: 4px;
		border-top: 1px solid #000;
		}

	/* this is for the tabs... */
	ul.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0 auto 0 auto;
	width: 500px;
	}

	ul.tabs.fewer {
	width: 192px;
	}

		ul.tabs li {
		float: left;
		}

			ul.tabs li a {
			display: block;
			padding: 2px 4px;
			border: 1px solid #6e6e6e;
			border-bottom: 0;
			margin-right: 10px;
			color: #6e6e6e;
			background: #dfdcdf;
			}

				ul.tabs li.selected a {
				display: block;
				padding: 2px 4px;
				border: 1px solid #000;
				border-bottom: 0;
				margin-right: 10px;
				color: #000;
				background: #989697;
				position: relative;
				top: 1px;
				}

					/* odd... stupid IE's PNG support */
					* html ul.tabs li.selected a {
					background: #8e8c8d;
					}

				ul.tabs li.selected a:hover {
				color: #000;
				}

			ul.tabs li a:hover {
			color: #000;
			background: #fff url(./../images/admin/buttonbg_flip.jpg) repeat-x;
			}

/* Lists */
ul {
margin: 0;
padding: 0;
list-style-position: inside;
}

	ul.noBullets {
	list-style-type: none;
	}

/* Forms */
.text, .button, select, textarea {
font-family: verdana, sans-serif;
font-size: 100%;
}

.text, textarea {
border: 1px inset #2e5971;
color: #000;
background: #fff;
padding: 4px;
}

.code {
font-family: "courier new", courier;
}

.less {
width: 20px;
}

/* CSS can be sexy... */
.text:focus, textarea:focus {
background: #f0f0f0;
border: 1px solid #2e5971;
}

textarea.norm {
width: 200px;
height: 100px;
}

textarea.bigArea {
width: 95%;
height: 400px;
margin: 10px 0 0 0;
}

	/* override focus for big areas... */
	textarea.bigArea:focus {
	background: #fff;
	border: 1px inset #2e5971;
	}

textarea,
	input,
	select {
		border-width: 1px;
		border-style: solid;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

input[type="checkbox"],
	input[type="radio"],
	input[type="image"] {
		border: 0 none;
	}

p,
	ul,
	ol,
	blockquote,
	input,
	select {
		font-size: 12px;
	}

select option {
	padding: 2px;
}

/* Miscellaneous */
.important {
color: #b00;
font-weight: bold;
}

.altImportant {
color: #00285b;
font-weight: bold;
}

.emphasis {
font-weight: bold;
}

.center {
text-align: center;
}

.marCenter {
margin-right: auto;
margin-left: auto;
}

.left {
text-align: left;
}

.right {
text-align: right;
}

.noMar {
margin: 0;
}

.noMarBot {
margin-bottom: 0;
}

.marTop {
margin-top: 7px !important;
}

.moreMarTop {
margin-top: 20px !important;
}

.marBot {
margin-bottom: 20px !important;
}

.noBorderLeft {
border-left: 0 !important;
}

.nowrap {
white-space: nowrap;
}

.small {
font-size: 85%;
}

.floatLeft {
float: left;
}

.floatRight {
float: right;
}

.spacer {
margin: 0;
clear: both;
}

.default {
color: #00285b;
}

.underline {
text-decoration: underline;
}

.custom {
color: #b00;
}

.inherit {
color: #008000;
}

.default, .custom, .inherit {
font-weight: bold;
}

.colorBox {
font-size: 0;
border: 1px solid #000;
width: 50px;
height: 24px;
margin: 0 0 0 10px;
float: left;
}
